= simple_form_for current_user, :url => update_password_profile_path, :html => { :class => 'form' } do |form|
  .form-group
    = form.input :current_password, :as => :password, :input_html => { :class => 'form-control' }
  = render :partial => 'password_form', :locals => { :form => form, :cancel_url => profile_path }
