= simple_form_for @user, :url => user_reset_password_path(:user_id => @user.id), :html => { :class => 'form' } do |form|
  = render :partial => 'password_form', :locals => { :form => form, :cancel_url => user_path(@user) }
