= simple_form_for @user, :url => reset_password_user_path(@user), :html => { :class => 'form' } do |form|
  = render :partial => 'password_form', :locals => { :form => form, :cancel_url => user_path(@user) }
